<h2><%= $game.player_1.name %> v.s <%= $game.player_2.name %></h2><br><br>
<%= $game.player_1.name %>: HP <%= $game.player_1.hit_points %><br>
<%= $game.player_2.name %>: HP <%= $game.player_2.hit_points %><br><br>

<form action='/attack' method='post'>
  <div><%= "It's #{$game.opponent.name}'s turn!!"%>
  <br>
  <button>Attack!</button>
</form>
